@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #d01c28;
    --gray: #2e2e2e;
}

button {
    all: unset;
    padding: 2px 12px;
    background: var(--red);
    height: 32px;
    color: white;
    font-weight: 500;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

.hero {
    display: flex;
    align-items: center;
    height: calc(100vh-72px);
}

.hero h1 {
    font-weight: 800;
    font-size: 108px;
    line-height: 102px;
}

.hero p {
    font-weight: 600;
    color: var(--gray);
    font-size: 16px;
    line-height: 24px;
}

.hero-btn {
    display: flex;
    gap: 40;
}